div#m_header_nav {
    background-color: #f2f3f8;
    border-bottom: 1px solid #ddd;
}
div#m_header_topbar{
    position: relative;
}
div#m_header_topbar::after , .floatNone{
    content: '';
    float: none;
    clear: both;
}
.m-subheader .m-subheader__title {
    top: unset;
}
.title-layout h3 {
    font-size: 20px;
    font-weight: 100;
    font-family: "ElMessir-Medium" !important;
}
.title-layout h3 a{
    color: #000;
}
.title-layout h3 a:hover{
    text-decoration: none;
}

.title-layout{
    padding: 0 5px;
}
.static-tabs a {
    background-color: #fff;
    display: inline-block;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    color: #000;
    font-size: 15px;
}

.m-form__group .form-control {
    border: 1px solid #979797;
}
.m-form__group .form-control {
    border-radius: 14px!important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
    border-radius: 14px!important;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{
    border-radius: 14px!important;
}
.btn-primary {
    color: #fff;
    background-color: #aad58f;
    border-color: #707070;
}
.static-tabs a {
    background-color:#45a2c61c;
    ;
    display: inline-block;
    height: 100%;
    width: 175px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 15px 15px 0 0;
    color: #000;
    font-size: 14px;
    transition: all .4s ease-in-out;
}
.static-tabs a:hover{
    text-decoration: none;
    transform: translateY(3px);
    background-color: #fff;
}

.static-tabs {
    position: absolute;
    height: 52px;
    top: -46px;
    z-index: 0;
}
.static-tabs .links-tabs-active{
    text-decoration: none;
    transform: translateY(3px);
    background-color: #fff;
}
.m-portlet .m-portlet__head{

    background-color: #fff;
}
.form-relative-white {
    background-color: #fff;
    position: relative;
}
.m-portlet {
    position: relative;
    margin-top: 52px;
}
.m-body .m-content{
    margin-top: 0;
}

.m-form__group .form-control:focus {
    border-radius: 0px!important;
    box-shadow: 0px 0px 20px rgb(52 73 94 / 60%);
    box-shadow: unset;
    background: unset !important;
    color: inherit !important;
    border-color: #3D7CAE!important;
}
.select2-results__options li {
    color: #575962 ;
}

.m-portlet__body .nav-tabs .nav-link, .nav-tabs .nav-link {
    border-color: #ebedf2;
}
.row.m-row--no-padding.m-row--col-separator-xl {
    margin-top: 0;
}
.btn-metal {
    color: #212529;
    background-color: #3d7cae;
    border-color: #3d7cae;
}
.btn.btn-secondary {
    background: #8d8d8d;
    border-color: #8d8d8d;
    color: #fff;
}
.btn.btn-secondary:hover:not(:disabled){
    color: #fff;
    background: #525252;
    border-color: #525252;
}
.btn-metal:hover {
    color: #212529;
    background-color: #29567a;
    border-color: #29567a;
}
/*========================= responsive =====================*/
@media (min-width: 1025px){
    .m-header--fixed .m-body {
        padding-top: 100px !important;
    }
}
@media (max-width: 1024px){
    .m-header--fixed-mobile .m-topbar {
        margin-top: 0 !important;
        top: 0 !important;
    }
    .m-stack.m-stack--general.m-stack--ver>.m-stack__item {
        width: 100%;
    }
    .title-layout {
        padding: 5px 12px 0 0;
    }
    .m-portlet {
        margin-top: 104px;
    }


    .m-topbar .m-topbar__nav.m-nav {
        margin: 0;
    }

    .static-tabs a {
        width: 135px;
        font-size: 13px;
    }
    .static-tabs {
        height: 38px;
        top: -38px;
    }
    .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__userpic img {
        height: 40px;
        width: 40px;
        border: 1px solid #384ad7;
    }

    .m-body .m-content {
        margin-top: 21px

    }
    .m-body .m-content .m-portlet__head:not(.belong-to-aform) .m-portlet__head-caption .m-portlet__head-title h3.m-portlet__head-text {
        font-size: 22px !important;
    }
    div.dt-buttons > button {
        padding: 5px 10px;
        margin: 5px 5px 0 5px;
        font-size: 12px;
    }
    div.dt-buttons {
        display: flex;
        justify-content: end;
        margin-bottom: 0;
    }
    .dataTables_wrapper .dataTable {
        margin: 3px 0 !important;
    }
}

@media (max-width: 767px){
.m-topbar .m-topbar__nav.m-nav {
    margin: 0;
}

.static-tabs a {
    width: 135px;
    font-size: 13px;
}
.static-tabs {
    height: 38px;
    top: -38px;
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__userpic img {
    height: 40px;
    width: 40px;
    border: 1px solid #384ad7;
}
.one-single-emp-wrapper {
    width: 100%;
}
.m-body .m-content {
    margin-top: 21px

}
.m-body .m-content .m-portlet__head:not(.belong-to-aform) .m-portlet__head-caption .m-portlet__head-title h3.m-portlet__head-text {
    font-size: 22px !important;
}
div.dt-buttons > button {
    padding: 5px 10px;
    margin: 5px 5px 0 5px;
    font-size: 12px;
}
div.dt-buttons {
    display: flex;
    justify-content: end;
    margin-bottom: 0;
}
.dataTables_wrapper .dataTable {
    margin: 3px 0 !important;
}
.m-portlet__body .nav-tabs .nav-link {
    display: block;
    padding: 0.5rem 5px;
    font-size: 11px;
}
.m-form .m-form__group {
    padding-top: 8px;
    padding-bottom: 8px;
}
.form-group label {
    display: inline-block;
    margin-bottom:0;
}
.title-layout h3 {
    font-size: 16px;
}
.form-control {

    font-size: 12px;
}
.m-form .m-form__actions {
    padding: 20px;
}

.m-body .m-content {
    padding-top: 25px!important;

}
.m-body .m-content {
    padding-top: 35px!important;
}
td.dataTables_empty {
    font-size: 12px;
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-size: 18px;
}
.table thead th {

    font-size: 13px;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item>.page-link{
    padding: 0.1rem;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item {
    margin-right: 0.2rem;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    padding-left: 0;
}
.flow-x-scroll{
    overflow-x: scroll;
}
.form-group.m-form__group{
    width: 100%;
}
}
@media (max-width: 320px){
    .m-portlet__body .nav-tabs .nav-link {
        padding: 0.5rem 3px;
    }
    .m-portlet__body .nav-tabs li.nav-item{
        margin: 0;
    }
}
