@import url('https://fonts.googleapis.com/css?family=Tajawal');

html,
body {
	font-family: 'Tajawal', sans-serif !important;
}

.wow.animated {
	visibility: hidden;
}

.inline-block {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.navigation li a > i {
	color: #2ecc71;
}

.navigation li.active i {
	color: #fff !important;
}

.bg-main-color {
	background-color: #2ecc71;
}

.bg-white {
	background-color: #fff;
}

.txt-main-color {
	color: #2ecc71;
}

.wt-color {
	color: #fff
}

.page-title i {
	color: #fff;
}

.heading-btn-group a i {
	color: #2ecc71 !important;
}

.heading-btn-group a:hover {
	color: #2ecc71
}

.heading-btn-group a:hover i {
	color: #333 !important;
}

ul.dropdown-menu.dropdown-menu-right li a:hover {
	background: #2ecc71;
	color: #fff;
}

.breadcrumb > li i {
	color: #2ecc71
}

.navigation .navigation-header > span {
	display: block;
	margin-top: 2px;
	color: #2ecc71;
	font-size: 14px;
	font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #2ecc71
}

.sidebar:not(.sidebar-default) .media .text-muted,
.sidebar:not(.sidebar-default) .media .media-annotation {
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
}

.footer.text-muted.text-center a {
	color: #fff;
	font-size: 16px;
}

.footer.text-muted.text-center {
	color: #222325;
	font-size: 16px;
}

.breadcrumb > li > a:hover,
.breadcrumb > li > a:focus {
	color: #2ecc71
}

.col-sm-6.col-md-3 .panel.panel-body,
.panel.panel-flat {
	border-radius: 10px;
	border: 0px;
	-webkit-box-shadow: 0px 0px 25px rgba(40, 40, 40, 0.15);
	box-shadow: 0px 0px 25px rgba(40, 40, 40, 0.15);
}

.panel-flat > .panel-heading > .panel-title {
	color: #333;
	font-size: 25px;
	border-right: 4px solid #2ECC71;
	padding-right: 10px;
}

.breadcrumb > .active {
	color: #2ecc71;
}

.tooltip-inner {
	background-color: #2ecc71;
}

.tooltip.top > .tooltip-arrow {
	border-top-color: #2ecc71;
}

.label-info {
	border-color: #2ecc71;
}

.datatable-header .dt-buttons > .btn:hover {
	background: #2ecc71;
	color: #fff;
}

span.label {
	border: 0px;
	-webkit-box-shadow: 0px 0px 25px rgba(40, 40, 40, 0.15);
	box-shadow: 0px 0px 25px rgba(40, 40, 40, 0.15);
}

.form-control:focus {
	border-color: #2ecc71
}

button[type="submit"].btn {
	background: #2ecc71 !important;
	border: 0px !important
}

button[type="submit"].btn:hover {
	-webkit-box-shadow: 0px 0px 25px rgba(40, 40, 40, 0.15);
	box-shadow: 0px 0px 25px rgba(40, 40, 40, 0.15);
}

.heading-elements .icons-list li a {
	color: #2ecc71;
	margin-left: 10px;
}

.icons-list a[data-action]:after {
	font-size: 20px
}

span.action.btn.bg-pink-400 {
	background: #aaa;
	border: 0px;
}

td.dataTables_empty {
	color: #2ecc71;
	font-size: 18px;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2ecc71;
}

.help-block a {
	color: #2ecc71
}

.content-wrapper {
	/*background-image: url(../images/logo-bg.png);*/
	background-position: bottom left;
	background-size: 35%;
	background-repeat: no-repeat;
}

.icon-object.text-warning-400.login-icon-logo {
	width: 130px;
	height: 130px;
	border: 1px solid #2ecc71;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 0px 0px 20px rgba(38, 166, 154, 0.4);
	box-shadow: 0px 0px 20px rgba(38, 166, 154, 0.4);
}

.content .row .col-sm-6.col-md-3 {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.content .row .col-sm-6.col-md-3:first-child {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.content .row .col-sm-6.col-md-3:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.content .row .col-sm-6.col-md-3:nth-child(3) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.content .row .col-sm-6.col-md-3:nth-child(4) {
	-webkit-animation-delay: 0.45s;
	animation-delay: 0.45s;
}

.content .row .col-sm-6.col-md-3:nth-child(5) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.content .row .col-sm-6.col-md-3:nth-child(6) {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

.content .row .col-sm-6.col-md-3:nth-child(6) {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

.content .row .col-sm-6.col-md-3:nth-child(6) {
	-webkit-animation-delay: 1.05s;
	animation-delay: 1.05s;
}

.content .row .col-sm-6.col-md-3:nth-child(6) {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.content .panel.panel-flat {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.sidebar-user + .sidebar-category .navigation > li {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.sidebar-user + .sidebar-category .navigation > li:first-child {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(2) {
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(3) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(4) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(5) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(6) {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(7) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(8) {
	-webkit-animation-delay: 0.35s;
	animation-delay: 0.35s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(9) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(10) {
	-webkit-animation-delay: 0.45s;
	animation-delay: 0.45s;
}

.sidebar-user + .sidebar-category .navigation > li:nth-child(11) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.heading-elements .heading-btn-group a {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.heading-elements .heading-btn-group a:first-child {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.heading-elements .heading-btn-group a:nth-child(2) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.heading-elements .heading-btn-group a:nth-child(3) {
	-webkit-animation-delay: 0.45s;
	animation-delay: 0.45s;
}

.file-type-chart.panel-flat,
.file-type-chart.panel-flat > .panel-heading {
	background-color: #fff
}

.dataTables_filter input {
	-webkit-transition: 0.4s all ease-out;
	-o-transition: 0.4s all ease-out;
	transition: 0.4s all ease-out;
}

.dataTables_filter input:focus {
	border: 1px solid #2ecc71
}

.dataTables_filter > label:after {
	color: #2ecc71
}

tr td img {
	border-radius: 50% !important;
	-webkit-box-shadow: 0px 0px 20px rgba(40, 40, 40, 0.3);
	box-shadow: 0px 0px 20px rgba(40, 40, 40, 0.3);
}

.flex-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

table thead {
	background: #2ecc71;
	color: #fff;
}

.dataTable thead .sorting:before,
.dataTable thead .sorting:after {
	color: #fff
}

.table > thead:first-child > tr:first-child > th {
	-webkit-box-shadow: 0px 10px 20px -10px rgba(40, 40, 40, 0.4);
	box-shadow: 0px 10px 20px -10px rgba(40, 40, 40, 0.4);
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border: 0px;
}

table tr td:last-child a:not([class^="ck"]),
table tr td:last-child a:not([id^="ck"]) {
	color: #fff !important;
	background: #2ecc71;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 35px;
	height: 35px;
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
	padding: 0 !important;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
	margin-top: 8px;
	left: 5px;
}

table tr td:last-child a:not([class^="ck"]) i,
table tr td:last-child a:not([id^="ck"]) i {
	color: #fff !important;
	margin-left: 0 !important;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out
}

table tr td:last-child a:not([class^="ck"]) i.text-danger,
table tr td:last-child a:not([id^="ck"]) i.text-danger {
	color: #fff !important;
}

table tr td:last-child a:not([class^="ck"]):hover i.text-danger,
table tr td:last-child a:not([id^="ck"]):hover i.text-danger {
	color: #f00 !important;
}

table tr td:last-child a:not([class^="ck"]):hover,
table tr td:last-child a:not([id^="ck"]):hover {
	-webkit-box-shadow: 0px 0px 20px rgba(0, 60, 60, 0.2);
	box-shadow: 0px 0px 20px rgba(0, 60, 60, 0.2)
}

td a.show-file {
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
	color: #fff;
}

td a.show-file:hover {
	color: #27A599
}

.label-info {
	background-color: #2ecc71 !important
}

tbody {
	background-color: rgb(69, 90, 100);
	color: #fff;
}

.font-c {
	color: #79bbaf;
}

.flex-wrap .col-sm-6.col-md-3:nth-of-type(odd) .panel.panel-body {
	background: #2ecc71;
	color: #fff
}

.flex-wrap .col-sm-6.col-md-3:nth-of-type(odd) .panel.panel-body a {
	color: #fff
}

.flex-wrap .col-sm-6.col-md-3:nth-of-type(even) .panel.panel-body {
	background: #fff;
	color: #2ecc71
}

.flex-wrap .col-sm-6.col-md-3:nth-of-type(even) .panel.panel-body a {
	color: #2ecc71
}

.flex-wrap .col-sm-6.col-md-3 .panel.panel-body a {
	-webkit-transition: 0.4s all ease-out !important;
	-o-transition: 0.4s all ease-out !important;
	transition: 0.4s all ease-out !important
}

.flex-wrap .col-sm-6.col-md-3 .panel.panel-body a:hover {
	color: #263238
}

.flex-wrap .col-sm-6.col-md-3 .panel.panel-body h3.no-margin {
	max-width: 140px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.hidden {
	display: none;
}

@media(max-width:767px) {

	.chart.has-minimum-width,
	.chart.has-minimum-width svg {
		min-width: unset;
		max-width: 100%;
	}
}

table td .btn-primary {
	margin-top: -10px;
	margin-left: 25px
}

.noti-badge {
	min-width: 18px;
	height: 18px;
	background: #fff;
	color: #2ecc71;
	position: absolute;
	left: 0;
	top: 1px;
	border-radius: 50%;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 8px;
}

.dropdown.notifications-wrapper {
	position: relative;
}

li.dropdown.notifications-wrapper ul.dropdown-menu li {
	padding: 5px 10px;
}

li.dropdown.notifications-wrapper ul.dropdown-menu a {
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	padding-right: 2px;
	color: #2ecc71;
	padding-left: 2px;
}

.dropdown-menu.animated.fadeInUp {
	-webkit-box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.4);
}

li.read-all-notis a,
li.read-all-notis a:hover,
li.read-all-notis a:focus {
	width: 100% !important;
	text-align: center;
	background: #2ecc71 !important;
	color: #fff !important;
	border-radius: 3px;
}

/**************************************************/
/*********modfication*/
/****************************************************/
div.dt-buttons {
	margin-top: -30px;
	margin-left: 5px
}

button.dt-button,
div.dt-button,
a.dt-button {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222325), to(#222325)) !important;
	background-image: -o-linear-gradient(top, #222325 0%, #222325 100%) !important;
	background-image: linear-gradient(to bottom, #222325 0%, #222325 100%) !important;
	background-color: #222325 !important;
	color: #fff !important;
	font-size: 13px !important
}

button.dt-button:hover,
div.dt-button:hover,
a.dt-button:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2ecc71), to(#2ecc71)) !important;
	background-image: -o-linear-gradient(top, #2ecc71 0%, #2ecc71 100%) !important;
	background-image: linear-gradient(to bottom, #2ecc71 0%, #2ecc71 100%) !important;
	background-color: #222325 !important;
	color: #fff !important;
	font-size: 13px !important
}

button.dt-button,
div.dt-button,
a.dt-button {
	background-color: #222325;
	color: #fff;
	font-size: 12px
}

.dataTables_filter > label:after {
	margin-top: -4px;
	z-index: 99;
}

div.dt-button-collection button.dt-button:active:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#de3559), to(#dc3558)) !important;
	background-image: -o-linear-gradient(top, #de3559 0%, #dc3558 100%) !important;
	background-image: linear-gradient(to bottom, #de3559 0%, #dc3558 100%) !important;
	width: 100%
}

.dt-buttons > .dt-button {
	display: inline-block;
	padding: 5px;
	border: 0;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
	color: #333;
	margin-top: 5px;
}

.dt-button-collection > .dt-button + .dt-button {
	margin-top: 1px;
	width: 100%;
}

@media print {
	.datatable-button-init-basic {
		direction: rtl !important
	}
}

/*27/10/2019*/
.row.all-shortcuts-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.single-shortcut {
	text-align: center;
}

.single-shortcut a img {
	background: #241E32;
	padding: 10px;
	border-radius: 5px;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}

.single-shortcut a span {
	display: block;
	font-size: 18px;
	margin-top: 5px;
	color: #241E32;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}

.single-shortcut:hover a img {
	background: #201B2D;
	-webkit-box-shadow: 0px 0px 20px rgba(46, 204, 113, 0.5);
	box-shadow: 0px 0px 20px rgba(46, 204, 113, 0.5)
}

.single-shortcut:hover a span {
	color: #2ECC71
}

.table > tbody > tr > td img {
	width: 65px !important;
	height: 65px !important;
}

.dataTables_length {
	margin-top: -30px !important;
}

.dataTables_filter {
	margin-top: -30px !important;
}

.panel-body > h6.text-semibold {
	position: absolute;
	top: -65px;
	font-size: 25px;
	border-right: 4px solid #2ECC71;
	padding-right: 10px;
}

.footer {
	position: absolute;
	bottom: 30px;
	display: inline-block;
	width: calc(100% - 40px);
	background: #241E32;
	text-align: center;
	padding: 15px;
	color: #fff;
	bottom: 15px;
	border-radius: 5px;
}

.footer a {
	color: #2ECC71;
	padding: 0 5px;
}

/*
.panel.panel-flat.the-home-bggg .panel-heading {
    background-color: transparent;
}
*/
.the-home-bggg {
	background: url('../images/backgrounds/panel_bg.png');
	background-attachment: fixed;
}

.text-center.col-md-12.m--margin-bottom-5 {
	margin-bottom: 50px;
}

.text-center.col-md-12.m--margin-bottom-5 button#register {
	width: 60%;
}

form.form.phone_validate .panel-title > a {
	width: 100%;
	display: inline-block;
	height: 100%;
}

.dash-link {
	color: #333;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
	font-size: 18px
}

.dash-link:hover {
	color: #2ECC71
}

.newly-added-2-btns- {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%
}

.newly-added-2-btns- .btn {
	width: 170px;
	float: right;
	margin-top: 7px;
}

/******************* 2/2/2020 *******************/
.table-r {
	margin: 40px auto 20px auto;
}

.table-r tfoot,
.table-r thead {
	background: #2ecc71;
	font-weight: bold;
}

/******************* 18/2/2020 seel point redesign *******************/
.time-r {
	margin: 0 10px 0 0;
}

.yurSections .form-group {
	font-size: 16px;
}

.inline-control {
	display: inline-block;
	max-width: 500px;
}

.rel-cols {
	position: relative;
	padding: 0 0 0 40px;
}

.rs {
	position: absolute;
	width: 40px;
	left: 0;
	bottom: 7px;
	text-align: left;
}

.finalTb {}

.inline_divs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}

.th_lg {
	text-align: center;
}

.finalTb th {
	font-size: 15px;
	padding: 10px 5px !important;
}

.finalTb .form-group {}

.finalTb th input {
	min-width: 200px;
}

.rel-cols b {
	display: inline-block;
	vertical-align: super;
	margin: 0 0 0 10px;
}

.delete_tr {
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	border: 1px solid #e31717;
	color: #e31717;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.delete_tr:hover,
.delete_tr:focus {
	background-color: #e31717;
	color: #fff;
}

.bootstrap-select.btn-group .btn .filter-option {
	text-align: right;
}

.bootstrap-select > .btn {
	padding-left: 25px;
	padding-right: 12px;
}

.bootstrap-select.btn-group .btn .caret {
	left: 12px;
	right: auto;
}

.bootstrap-select .btn:focus {
	outline: 0 !important;
}

.bootstrap-select.btn-group .dropdown-menu li {
	display: block;
}

.bootstrap-select.btn-group .dropdown-menu > .selected > a {
	background-color: #2ecc71;
}

select.bs-select-hidden,
select.selectpicker {
	display: block !important;
}

#remaindedAmount th.rel-cols.motabaqy-case {
	background-color: orange !important
}

#remaindedAmount th.rel-cols.aagel-case {
	background-color: red !important
}

#remaindedAmount th.rel-cols.tmam-case {
	background-color: green !important
}

#remaindedAmount th.rel-cols.motabaqy-case:after {
	content: "حالة الدفع : متبقي للعميل نقود";
	text-align: right;
	padding-right: 50px;
}

#remaindedAmount th.rel-cols.aagel-case:after {
	content: "حالة الدفع : اجل";
	text-align: right;
	padding-right: 50px;
}

#remaindedAmount th.rel-cols.tmam-case:after {
	content: "حالة الدفع : المبلغ المدفوع مساو للمبلغ المطلوب";
	text-align: right;
	padding-right: 50px;
}

.form-line.new-radio-big-wrapper {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: right !important;
}

.form-line.sanads {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: right !important;
}

span.new-radio-wrap {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: right;
	width: 100% !important;
	padding: 0 15px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

span.new-radio-wrap-sanad {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;

	-ms-flex-align: center;

	text-align: right;
	width: 100% !important;
	padding: 0 15px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

span.new-radio-wrap-sanad input {
	width: 20px;
	margin-left: 10px;
	margin-top: -3px;
}

span.new-radio-wrap input {
	width: 20px;
	margin-left: 10px;
	margin-top: -3px;
}

span.new-radio-wrap label {
	color: #333 !important;
}

span.new-radio-wrap-sanad label {
	color: #333 !important;
}
.backed-eee > div {
	background: #eee;
	padding: 0 5px;
	border-radius: 5px
}

.form-group label:not(.label-info),
.media-body label:not(.label-info) {
	color: #2ECC71;
	white-space: nowrap;
	width: 100%;
	display: inline-block;
}

.form-group.col-md-6.pull-left > label {
	color: #333;
}

.finalTb {
	width: 100% !important;
	table-layout: fixed;
	border-collapse: collapse;
}

table.bill-table > thead,
table.bill-table > tbody tr,
table.bill-table > tfoot {
	display: table;
	width: 100% !important;
	table-layout: fixed;
}

table.bill-table > tbody {
	max-height: 325px !important;
	overflow: auto !important;
	width: 100% !important;
	display: block;
}

.form-group.rel-cols.radiBtnwrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0
}

.finalTb th .form-group.rel-cols.radiBtnwrap input {
	width: 50px !important;
	min-width: unset;
	margin-top: -4px;
}

table.mabi3at-bill.moshtraiat-bill tfoot:not(.tempDisabled) tr th:first-child {
	background: #241E32 !important;
}

table.mabi3at-bill.moshtraiat-bill tfoot tr th:first-child {
	text-align: right
}

table.mabi3at-bill.moshtraiat-bill tfoot tr th span.colorfulSpan {
	font-weight: 400;
	color: #2ECC71;
	font-size: 12px;
}

label.wit-lbl {
	color: #fff !important;
	font-size: 12px !important;
	font-weight: 100 !important
}

table.mabi3at-bill.moshtraiat-bill span.dynamic-span {
	display: inline-block;
	width: 120px;
	right: calc(50% - 60px);
	text-align: center;
	font-size: 20px;
	font-weight: 700 !important;
	position: absolute;
	margin-top: -3px;
}

table.mabi3at-bill.moshtraiat-bill .rs {
	left: 5px;
	bottom: unset;
	margin-top: -2px;
	font-weight: 100;
}

.normal-lbls label {
	width: auto !important;
}

.panel-flat.summaryy > .panel-heading + .panel-body span {
	font-size: 16px;
	padding-right: 10px;
}

.ddd-none,
.tempobar {
	display: none !important
}

table.mabi3at-bill.moshtraiat-bill .form-group .rs {
	margin-top: -67px;
}

table.mabi3at-bill.moshtraiat-bill .form-group {
	margin-bottom: 0
}

table.mabi3at-bill.moshtraiat-bill th input {
	min-width: 120px;
}

td.delete-single-row a span {
	font-size: 30px;
}

td.delete-single-row a {
	margin-top: 0 !important;
	background: #E74C3C !important
}

table.bill-table > tfoot.tempDisabled:after {
	content: "من فضلك قم بإختيار الصنف وكميته أولا ";
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

a.removeThisSinglSpecDisc {
	position: absolute;
	left: 15px;
	background: #E74C3C;
	color: #fff;
	font-size: 18px;
	width: 25px;
	text-align: center;
	margin-top: 20px;
	transition: 0.4s all ease-in-out;
}

a.removeThisSinglSpecDisc:hover {
	color: #E74C3C;
	background: #fff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
	border-radius: 50%
}

.row.clearfix.single-special-dis-wrap {
	background: #eee;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px 0;
}

.row.clearfix.single-special-dis-wrap .form-group {
	margin-bottom: 0;
}

a.appendAnewDiscount.btn.btn-success {
	margin-top: 20px;
}
.pos-rel{
	position: relative
}
.pos-abs-btn{
	position: absolute;
}
.pos-rel .pos-abs-btn {
    left: 10px;
    top: 33px;
    color: #fff;
}
.yourBill .yurSections  .form-group {
    margin-bottom: 5px;
}
td.product-name a {
    color: #fff;
	transition: 0.4s all ease-in-out
}
td.product-name a:hover{
	color: #2ECC71
}
td.last-prices-info > div p {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2px;
}
td.last-prices-info > div p span:first-child{
    color: #2ECC71;
    padding-left: 5px;
    font-size: 10px;
    width: 75px;
}
.bill-cogs{
	    float: left;
    margin-left: 120px;
	color: #fff !important
}
td button.btn.btn-primary.popover-dismiss {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: -20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
td button.btn.btn-primary.popover-dismiss span.icon-coin-dollar {
    font-size: 24px;
    margin-top: -2px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: -7px;
}

.yourBill .yurSections .form-group.block-gp input#barcode_search{
    width: calc(100% - 130px);
}

.company-imgg-td span{
	display: block;
	width: 100%;
	text-align: center
}
table thead tr.normal-bgc {
    background: #fff;
    color: #000 !important;
    font-size: 19px !important;
    text-align: center;
}
table.dataTable#DataTables_Table_0 tfoot {
    background: #241E32;
    color: #fff;
    font-size: 18px;
}

/******************* media query  *******************/
@media (min-width: 992px) {

	.form-group label,
	.media-body label {
		font-size: 15px;
	}
}

@media(min-width:768px) {

	.navbar-nav > li > .dropdown-menu,
	.dropdown-menu > .dropdown-submenu > .dropdown-menu {
		min-width: 240px;
	}
	.dropdown-menu > li > a {
    text-overflow: unset;
}
}

@media(max-width:991px) {
	.single-shortcut a img {
		width: 90px;
	}
}

@media(max-width:767px) {
	.form-group.col-xs-4.backed-eee {
		width: 50%;
	}

	.single-shortcut a span {
		font-size: 14px;
		color: #fff;
	}

	.row.all-shortcuts-wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.single-shortcut a img {
		width: 40px;
		padding: 5px
	}
}