.nav-logo{
    padding:10px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.nav-logo img{
    max-height: 120px;
    max-width: 100%;

}
/*************** 6/2/2020 ***********/
div.metro-big > a img, div.metro-small > a img {
    width: 42px;
}
div.metro-huge > a img {
    width: 52px;
}
.metro-small.termssm span.label.bottom, .metro-small span.label.bottom, .metro-big span.label.bottom, .metro-huge span.label.bottom {
    font-size: 15px;
    overflow-wrap: break-word;
    white-space: pre-line;
}
.panel-flat > .panel-heading > .panel-title {
    font-size: 21px;
}
.single-shortcut a img {
    max-width: 80px;
}
.single-shortcut a span {
    font-size: 16px;
}
.custom-tabs .text-center.col-md-12.m--margin-bottom-5 {
    margin: 30px auto 0 auto;
}
.r-group .radio-inline{
    width: auto !important;
}
.sm-span{
    position: absolute;
    left: 12px;
}
tbody a {
    color: #fff;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 9px 20px;
}
.panel-body h4.header-title.m-t-0.m-b-30 {
    font-size: 16px;
    margin-bottom: 16px;
}
.panel-flat > .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}
.table{
    width: 100% !important;
}
.dataTable tr td.child > ul > li {
    display: block;
}

table.finalTb.mabi3at-bill.bill-table tfoot th, table.finalTb.mabi3at-bill.bill-table tfoot td {
    border-top: 0;
}
form#sllForm {
    max-width: 100%;
    overflow-x: scroll;
}

/**** parsley js ****/

/* Parsley CSS */

.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}


.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}