<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container">
        <button type="button" id="print-all">طباعة</button>
        <!--------- start content ---------->
        <div id="myDivToPrint">
            <!--- header -->
            <header>
                <div class="hd_inn">
                    <div class="hd_txt">
                        <h3>شركة الجميل العالمية للتجازة المحدودة</h3>
                        <h3>Aljameel International Trading co.,ltd</h3>
                        <div class="flexx">
                            <h5>تجارة المواد الغذائية بالجملة</h5>
                            <h5>Wholesale foodstuff trading</h5>
                        </div>
                    </div>
                    <div class="logo">
                        <img src="img/logo.png" alt="logo">
                    </div>
                </div>
            </header>
            <!---- columns -->
            <div class="row">
                <div class="col">
                    <div class="box1">
                        <div class="flexx">
                            <h4>التاريخ</h4>
                            <h4>date</h4>
                        </div>
                        <p>7/12/2020</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box1">
                        <div class="flexx">
                            <h4>فاتورة نوع</h4>
                            <h4>invoice type</h4>
                        </div>
                        <p>اجله</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box1">
                        <div class="flexx">
                            <h4>رقم</h4>
                            <h4>invoice no.</h4>
                        </div>
                        <p>Wm 7465</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box1">
                        <div class="flexx">
                            <h4>مدة السداد</h4>
                        </div>
                        <p>تستحق بتاريخ 7/12/2020</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box1">
                        <div class="flexx">
                            <h4>أمر شراء العميل</h4>
                            <h4>Cust.P.O</h4>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row">
                <div class="box1">
                    <div class="flexx">
                        <div class="box1">
                            <div class="flexx">
                                <h4>كود العميل</h4>
                                <h4>cust. code</h4>
                            </div>
                            <p>84764</p>
                        </div>
                        <div class="box1">
                            <div class="flexx">
                                <h4>اسم العميل</h4>
                                <h4>cust. name</h4>
                            </div>
                            <p>مصنع إبراهيم سليمان العثيم للتنمية والتكليف - دلفن</p>
                        </div>
                        <div class="box1">
                            <div class="flexx">
                                <h4>الرقم الضريبى للعميل</h4>
                                <h4>cust. vat no.</h4>
                            </div>
                            <p>1235635765</p>
                        </div>
                    </div>
                    <div class="flexx">
                        <div class="box1">
                            <div class="flexx">
                                <h4>العنوان</h4>
                                <h4>address</h4>
                            </div>
                            <p>المدينة الصناعية الثانية - بريدة</p>
                        </div>
                        <div class="box1">
                            <div class="flexx">
                                <h4>هاتف</h4>
                                <h4>phone</h4>
                            </div>
                            <p>9648474</p>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row">
                <div class="box1">
                    <div class="flexx">
                        <div class="box1">
                            <div class="flexx">
                                <h4>كود البائع</h4>
                                <h4>salesman code</h4>
                            </div>
                            <p>84764</p>
                        </div>
                        <div class="box1">
                            <div class="flexx">
                                <h4>رقم السائق</h4>
                                <h4>Deliver no.</h4>
                            </div>
                            <p>973574</p>
                            <div class="flexx">
                                <h4>رقم الشاحنة</h4>
                                <h4>Truck Id</h4>
                            </div>
                            <p>356s</p>
                        </div>
                        <div class="box1">
                            <div class="flexx">
                                <h4>نقطة الشحن</h4>
                                <h4>landing site</h4>
                            </div>
                            <p>القصيم</p>
                        </div>
                        <div class="box1">
                            <div class="flexx">
                                <h4>sales order</h4>
                                <h4>so-o87464</h4>
                            </div>
                            <div class="flexx">
                                <h4>delivery note</h4>
                                <h4>ملاحظاااتى هنا</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_logo">
                <table class="the_table">
                    <thead>
                        <tr>
                            <th>
                                <p>الإجمالى</p>
                                <p>total</p>
                            </th>
                            <th>
                                <p>ضريبة القيمة المضافة</p>
                                <p>vat</p>
                            </th>
                            <th>
                                <p>نسبة ضريبة القيمة المضافة</p>
                                <p>vat%</p>
                            </th>
                            <th>
                                <p>السعر بدون ضريبة القيمة المضافة</p>
                                <p>price without vat</p>
                            </th>
                            <th>
                                <p>الكمية</p>
                                <p>qty</p>
                            </th>
                            <th>
                                <p>الوحدة</p>
                                <p>unit</p>
                            </th>
                            <th>
                                <p>بيان الصنف</p>
                                <p>product description</p>
                            </th>
                            <th>
                                <p>كود الصنف</p>
                                <p>item code</p>
                            </th>
                            <th>
                                <p>كود المستودع</p>
                                <p>w.house code</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>96.00</td>
                            <td>14.40</td>
                            <td>15%</td>
                            <td>48.00</td>
                            <td>2.00</td>
                            <td>bag</td>
                            <td>
                                <p class="not_bold">إنشاء وزن 25 كجم</p>
                            </td>
                            <td>str-8356</td>
                            <td>n</td>
                        </tr>
                        <tr>
                            <td>96.00</td>
                            <td>14.40</td>
                            <td>15%</td>
                            <td>48.00</td>
                            <td>2.00</td>
                            <td>bag</td>
                            <td>
                                <p class="not_bold">إنشاء وزن 25 كجم</p>
                            </td>
                            <td>str-8356</td>
                            <td>n</td>
                        </tr>
                        <tr>
                            <td>96.00</td>
                            <td>14.40</td>
                            <td>15%</td>
                            <td>48.00</td>
                            <td>2.00</td>
                            <td>bag</td>
                            <td>
                                <p class="not_bold">إنشاء وزن 25 كجم</p>
                            </td>
                            <td>str-8356</td>
                            <td>n</td>
                        </tr>
                        <tr>
                            <td>96.00</td>
                            <td>14.40</td>
                            <td>15%</td>
                            <td>48.00</td>
                            <td>2.00</td>
                            <td>bag</td>
                            <td>
                                <p class="not_bold">إنشاء وزن 25 كجم</p>
                            </td>
                            <td>str-8356</td>
                            <td>n</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--------- end content ---------->
    <!------- ////////////////// js /////////////////// ----------->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('print-all').addEventListener('click', () => {
                var mywindow = window.open('', 'PRINT');
                mywindow.document.write('<html><head><title>الفاتورة</title>');
                mywindow.document.write("<link href=\"img/logo.png\" rel=\"icon\"><link href=\"css/main.css\" rel=\"stylesheet\">")
                mywindow.document.write('</head><body >');
                mywindow.document.write(document.getElementById('myDivToPrint').innerHTML);
                mywindow.document.write('</body></html>');
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/
                setTimeout(function () {
                    mywindow.print();
                    mywindow.document.close();
                })
                return true;
            });
        })
    </script>
</body>

</html>